@model dynamic

<div class="header items">
    <div class="two summary items">
        <div class="amount item">
            <div class="description">@I18N.Amount</div>
            <div class="money">
                <span></span>
            </div>
        </div>
        <div class="count item">
            <div class="description">@I18N.Count</div>
            <div class="money">

            </div>
        </div>
    </div>
</div>

<div class="tender info items">
    <div class="payment type container">
        <div data-payment-type="cash" class="two summary items">
            <div class="tender item">
                <div class="description">@I18N.CashTender</div>
                <div class="control">
                    <input type="text" class="decimal" id="TenderInputText" />
                </div>
            </div>
            <div class="change item">
                <div class="description">@I18N.CashChange</div>
                <div class="control">
                    <input class="decimal" type="text" readonly="readonly" id="ChangeInputText" />
                </div>
            </div>
        </div>
        <div data-payment-type="credit" style="display: none;" class="one summary items">
            <div class="gift-card number item">
                <div class="description">@I18N.PaymentTerm</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="PaymentTermSelect"></select>
                </div>
            </div>
        </div>
        <div data-payment-type="check" style="display: none;">
            <div class="two summary items">
                <div class="check amount item">
                    <div class="description">@I18N.CheckAmount</div>
                    <div class="control">
                        <input class="decimal" type="text" id="CheckAmountInputText" />
                    </div>
                </div>
                <div class="check bank name item">
                    <div class="description">@I18N.BankName</div>
                    <div class="control">
                        <input type="text" id="BankNameInputText" />
                    </div>
                </div>
            </div>
            <div class="two summary items">
                <div class="check number item">
                    <div class="description">@I18N.CheckNumber</div>
                    <div class="control">
                        <input type="text" id="CheckNumberInputText" />
                    </div>
                </div>
                <div class="check date item">
                    <div class="description">@I18N.CheckDate</div>
                    <div class="control">
                        <input type="text" class="date" id="CheckDateInputText" />
                    </div>
                </div>
            </div>
        </div>
        <div data-payment-type="gift-card" style="display: none;" class="two summary items">
            <div class="gift-card number item">
                <div class="description">@I18N.GiftCardNumber</div>
                <div class="control">
                    <div class="ui action fluid input">
                        <input id="GiftCardNumberInputText" required="" type="text">
                        <button class="ui icon blue button" onclick='$(".ui.gift.card.modal").modal("show");'>
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="gift-card balance item">
                <div class="description">@I18N.GiftCardBalance</div>
                <div class="control">
                    <input class="decimal" type="text" readonly="readonly" id="GiftCardNumberBalanceInputText" />
                </div>
            </div>
        </div>
    </div>
    <div class="one summary items">
        <div class="customer item">
            <div class="description">@I18N.Customer</div>
            <div class="control">
                @*<select id="CustomerSelect" class="ui search fluid inverted dropdown"></select>*@
                <div class="ui fluid customer search">
                    <div class="ui left icon fluid input">
                        <input id="CustomerInputText" class="prompt" type="text">
                        <i class="search grey icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="three summary items">
        <div class="coupon code item">
            <div class="description">@I18N.CouponCode</div>
            <div class="control">
                <input type="text" class="" id="CouponCodeInputText" />
            </div>
        </div>
        <div class="discount type item">
            <div class="description">@I18N.DiscountType</div>
            <div class="control">
                <select class="ui inverted fluid dropdown" id="DiscountTypeSelect">
                    <option value="1">@I18N.Rate</option>
                    <option value="2">@I18N.Amount</option>
                </select>
            </div>
        </div>
        <div class="discount item">
            <div class="description">@I18N.Discount</div>
            <div class="control">
                <input type="text" class="decimal" id="DiscountInputText" value="0" />
            </div>
        </div>
    </div>
    <div class="two summary items">
        <div class="value date item">
            <div class="description">@I18N.ValueDate</div>
            <div class="control">
                <input type="text" class="date" value="d" id="ValueDateInputText" />
            </div>
        </div>
        <div class="book date item">
            <div class="description">@I18N.BookDate</div>
            <div class="control">
                <input type="text" class="date" value="d" id="BookDateInputText" />
            </div>
        </div>
    </div>
    <a class="show more anchor">@I18N.ShowMore</a>
    <div class="more" style="display: none;">
        <div class="one summary items">
            <div class="cost center item">
                <div class="description">@I18N.CostCenter</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="CostCenterSelect"></select>
                </div>
            </div>
        </div>
        <div class="one summary items">
            <div class="shipping company item">
                <div class="description">@I18N.Shipper</div>
                <div class="control">
                    <select class="ui inverted fluid dropdown" id="ShipperSelect"></select>
                </div>
            </div>
        </div>
        <div class="two summary items">
            <div class="reference number item">
                <div class="description">@I18N.ReferenceNumberAbbreviated</div>
                <div class="control">
                    <input type="text" id="ReferenceNumberInputText" />
                </div>
            </div>
            <div class="memo item">
                <div class="description">@I18N.Memo</div>
                <div class="control">
                    <input type="text" id="StatementReferenceInputText" />
                </div>
            </div>
        </div>
        <a class="show less anchor">@I18N.ShowLess</a>
    </div>
    <div class="ui one column padded grid">
        <div class="column">
            <button class="ui big green button" id="CheckoutButton">@I18N.Checkout</button>

            <div class="ticket panel">
                <iframe id="TicketIframe"></iframe>
                <button class="ui blue circular button" onclick="$('#TicketIframe').get(0).contentWindow.print();" id="PrintButton">@I18N.Print</button>
                <button class="ui red  circular button" onclick="$('.ticket.panel').hide();">Hide</button>
            </div>
        </div>
    </div>
</div>
<script src="/Areas/MixERP.Sales/scripts/shared/sales-entry.js"></script>
