@model dynamic
@using MixERP.Finance.Extensions;

@{
    ViewBag.Title = I18N.Checklist;
    Layout = ViewBag.FinanceLayoutPath;
}
<style>
    iframe {
        display: block;
        margin: auto;
        width: 100%;
        height: 800px;
        border: 1px solid #ccc;
        margin-bottom: 1rem;
    }

    .checklist.segment .form:not(.unstyled), 
    #WithdrawDiv .message
    {
        max-width: 800px;
    }

    section {
        padding: 1em 0;
    }

    .choices {
        display: flex;
    }

    .choice {
        background: #999;
        padding: 0.5em 1.25em;
        cursor: pointer;
        color: #eee;
    }

        .choice.active,
        .choice:hover {
            background: #777;
            color: #eee;
        }

    .selection.group .field:last-child {
        padding-bottom: 1em;
    }
</style>
<div class="ui attached page checklist segment" style="min-height: 100%; padding: 3em;">
    <div class="ui container">

        <div class="ui huge title header"></div>
        <div class="ui divider"></div>

        <div class="ui positive message">@I18N.TransactionPostedSuccessfully</div>

        <div class="ui basic buttons">
            <a class="ui basic view transaction button"></a>
            <a class="ui basic add new button"></a>
            <a class="ui basic withdraw button" onclick="$('#WithdrawDiv').fadeToggle(1000);">@I18N.CancelWithdrawTransaction</a>
        </div>

        <div id="WithdrawDiv" style="display: none;" class="ui basic segment">
            <div class="ui attached message" style="display: block;">
                <div class="header">@I18N.WithdrawalReason</div>
            </div>
            <div class="ui form attached fluid segment">
                @Html.Raw(I18N.TransactionWithdrawalInformation)
                <div class="field">
                    <input type="hidden" id="TranIdInputHidden" value="" />
                    <textarea rows="5" id="ReasonTextarea"></textarea>
                </div>
                <div class="ui message">@I18N.AreYouSure</div>
                <button id="WithdrawOKButton" class="ui red small submit button" type="submit">@I18N.OK</button>
                <button class="ui green small submit button" type="button">@I18N.Cancel</button>
            </div>
        </div>

        <section class="notes" style="display: none;">
            <div class="ui header">@I18N.Notes</div>
            <div class="ui warning message">@I18N.YouHaventLeftNoteYet</div>
            <div class="ui form">
                <div class="field">
                    <textarea rows="2"></textarea>
                </div>
                <div class="ui green button">@I18N.AddNote</div>
            </div>
        </section>


        <section class="documents" style="display: none;">
            <div class="ui header">@I18N.Documents</div>
            <div class="ui warning message">@I18N.NoDocumentFound</div>
            <div class="ui green button">@I18N.UploadNewDocument</div>
        </section>

        <section class="reminders" style="display: none;">
            <div class="ui header">@I18N.Reminder</div>
            <div class="ui warning message">@I18N.NoReminderSet</div>
            <div class="ui green add reminder button">@I18N.CreateNewReminder</div>
        </section>


        <h2 class="ui big header">@I18N.Advice</h2>
        <iframe id="ReportIFrame"></iframe>
    </div>

    <div class="ui reminder small modal">
        <i class="close icon"></i>
        <div class="header">@I18N.CreateNewReminder</div>
        <div class="content">
            <div class="ui padded unstyled form">
                <div class="field">
                    <label>@I18N.Title</label>
                    <input placeholder="@I18N.RemindMeAbout" />
                </div>
                <div class="selection group">
                    <div class="field">
                        <label>@I18N.WhomToRemind</label>
                        <div class="single selection choices">
                            <div tabindex="0" data-selection="" class="active choice">@I18N.OnlyMe</div>
                            <div tabindex="0" data-selection="role" class="choice">@I18N.SelectedRole</div>
                            <div tabindex="0" data-selection="user" class="choice">@I18N.SelectedUsers</div>
                        </div>
                    </div>
                    <div class="role selection field" style="display: none;">
                        <label>@I18N.SelectRoles</label>
                        <select class="ui collapsing select dropdown"></select>
                    </div>
                    <div class="user selection field" style="display: none;">
                        <label>@I18N.SelectUsers</label>
                        <select class="ui collapsing select dropdown"></select>
                    </div>
                </div>
                <div class="field">
                    <label>@I18N.StartsFrom</label>
                    <div class="fields">
                        <div class="three wide field">
                            <input type="text" class="date" value="d" />
                        </div>
                        <div class="two wide field">
                            <input type="text" class="time" />
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>@I18N.EndsOn</label>
                    <div class="fields">
                        <div class="three wide field">
                            <input type="text" class="date" value="7d" />
                        </div>
                        <div class="two wide field">
                            <input type="text" class="time" />
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>@I18N.EnterDescriptionReminder</label>
                    <textarea></textarea>
                </div>
                <div class="selection group">
                    <div class="field">
                        <label>@I18N.Repeat</label>
                        <div class="single selection choices">
                            <div tabindex="0" data-selection="" class="active choice">@I18N.No</div>
                            <div tabindex="0" data-selection="repeat.hour.value" class="choice">@I18N.Hour</div>
                            <div tabindex="0" data-selection="repeat.day.value" class="choice">@I18N.Day</div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="four fields">
                            <div class="repeat hour value selection field" style="display: none;">
                                <label>@I18N.RepeatEvery</label>
                                <input />
                                <label>@I18N.Hours</label>
                            </div>
                            <div class="repeat day value selection field" style="display: none;">
                                <label>@I18N.RepeatEvery</label>
                                <input />
                                <label>@I18N.Days</label>
                            </div>
                            <div class="field">
                                <label>@I18N.RemindMeLeast</label>
                                <input type="text" value="2" />
                                <label>@I18N.HoursBeforeSchedule</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" checked="checked" />
                        <label>@I18N.DisplayReminderOtherUsers</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" checked="checked" />
                        <label>@I18N.SendMeEmail</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" />
                        <label>@I18N.IncludingOtherParticipants</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" />
                        <label>@I18N.AttachAllDocuments</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui deny button">@I18N.Cancel</div>
            <div class="ui positive button">@I18N.OK</div>
        </div>
    </div>
</div>

<script>
    function prepareChecklist(model) {
        $(".title.header").html(model.Title);
        $(".view.transaction.button").html(model.ViewText);
        $(".view.transaction.button").attr("href", model.ViewUrl);
        $(".add.new.button").html(model.AddNewText);
        $(".add.new.button").attr("href", model.AddNewUrl);
        $("#ReportIFrame").attr("src", model.ReportPath);
        $("#TranIdInputHidden").val(model.TranId);

        if (!model.ViewText) {
            $(".view.transaction.button").remove();
        };

        if (!model.AddNewText) {
            $(".add.new.button").remove();
        };
    };

    $(".selection.choices .choice").off("click").on("click", function () {
        const el = $(this);
        const singleSelection = el.parent().hasClass("single");

        if (singleSelection) {
            el.parent().find(".choice").removeClass("active");
        };

        el.toggleClass("active");

        const active = el.hasClass("active");
        if (!active) {
            return;
        };

        const selection = el.attr("data-selection");

        el.closest(".selection.group").find(".selection.field").hide();

        if (selection) {
            $("." + selection + ".selection.field").show();
        };
    });

    $(".add.reminder.button").off("click").on("click", function () {
        $(".reminder.modal").modal("show");
        $(".time").timepicker('setTime', new Date());
    });

    $("#WithdrawOKButton").off("click").on("click", function () {
        function request(model) {
            const url = "/dashboard/finance/tasks/journal/withdraw";
            const data = JSON.stringify(model);

            return window.getAjaxRequest(url, "PUT", data);
        };

        function getModel() {
            const tranId = $("#TranIdInputHidden").val();
            const reason = $("#ReasonTextarea").val();

            return {
                TranId: tranId,
                Reason: reason
            };
        };

        $("#WithdrawDiv").addClass("loading");
        const model = getModel();
        const ajax = request(model);

        ajax.success(function () {
            window.displaySuccess();
            $("#WithdrawDiv").removeClass("loading").hide();
        });

        ajax.fail(function (xhr) {
            window.logAjaxErrorMessage(xhr);
            $("#WithdrawDiv").removeClass("loading").hide();
        });
    });
</script>

@Html.SocialPartialView("Tasks/Embed.cshtml", TenantConvention.GetTenant())
