@model dynamic

@{
    ViewBag.Title = I18N.GiftCardFunds;
    Layout = ViewBag.SalesLayoutPath;
}
<style>
    .modal iframe {
        width: 100%;
        border: none;
        height: 700px;
    }
</style>
<div class="ui attached page segment" style="min-height: 100%; padding: 3em;">
    <div class="ui huge header">@I18N.GiftCardFunds</div>
    <div class="ui divider"></div>
    <div class="ui basic buttons">
        <a id="AddNewButton" class="ui basic button" style="" href="/dashboard/loyalty/tasks/gift-cards/add-fund/entry">
            @I18N.AddNew
        </a>
        @*<a class="ui basic button" id="Import" href="ImportTransaction.mix">Import</a>*@
        <div class="ui icon top left pointing dropdown basic button" id="ExportDropDown" tabindex="0">
            <span>
                @I18N.Export
            </span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    @I18N.ExportThisDocument
                </div>
                <a class="item" href="javascript:void(0);" onclick="createDoc();">
                    <i class="file word outline blue icon"></i> @I18N.ExportToDoc
                </a>
                <a class="item" href="javascript:void(0);" onclick="createXls();">
                    <i class="file excel outline green icon"></i> @I18N.ExportToExcel
                </a>
                <a class="item" href="javascript:void(0);" onclick="createPDF();">
                    <i class="file pdf outline red icon"></i> @I18N.ExportToPDF
                </a>
            </div>
        </div>
        <a id="PrintButton" href="javascript:void(0);" onclick="print()" class="ui basic button">
            @I18N.Print
        </a>
    </div>

    <div class="ui stackable form segment" id="Annotation" style="">
        <div class="eight fields">
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.From" id="FromInputDate" title="@I18N.From" type="date">
            </div>
            <div class="field">
                <input class="date" data-persist placeholder="@I18N.To" id="ToInputDate" title="@I18N.To" type="date">
            </div>
            <div class="field">
                <input placeholder="@I18N.TranCode" id="TranCodeInputText" title="@I18N.TranCode" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.Customer" id="CustomerNameInputText" title="@I18N.Customer" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.ReferenceNumber" id="ReferenceNumberInputText" title="@I18N.ReferenceNumber" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.StatementReference" id="StatementReferenceInputText" title="@I18N.StatementReference" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.PostedBy" id="PostedByInputText" title="@I18N.PostedBy" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.Office" id="OfficeInputText" title="@I18N.Office" type="text">
            </div>
        </div>
        <div class="eight fields">
            <div class="field">
                <input placeholder="@I18N.Status" id="StatusInputText" title="@I18N.Status" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.VerifiedBy" id="VerifiedByInputText" title="@I18N.VerifiedBy" type="text">
            </div>
            <div class="field">
                <input placeholder="@I18N.Reason" id="ReasonInputText" title="@I18N.Reason" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.UserId" id="UserIdInputText" title="@I18N.UserId" type="text">
            </div>
            <div class="field hidden">
                <input placeholder="@I18N.OfficeId" id="OfficeIdInputText" title="@I18N.OfficeId" type="text">
            </div>
            <div class="field">
                <div class="ui green button" id="ShowButton">@I18N.Show</div>
            </div>
        </div>


    </div>

    <div class="fluid width overflown section">
        <table id="SalesView" class="ui nowrap table segment">
            <thead>
                <tr>
                    <th>@I18N.Actions</th>
                    <th>@I18N.Select</th>
                    <th>@I18N.TranId</th>
                    <th>@I18N.TranCode</th>
                    <th>@I18N.ValueDate</th>
                    <th>@I18N.BookDate</th>
                    <th>@I18N.Customer Name</th>
                    <th>@I18N.Amount</th>
                    <th>@I18N.ReferenceNumberAbbreviated</th>
                    <th>@I18N.StatementReference</th>
                    <th>@I18N.PostedBy</th>
                    <th>@I18N.Office</th>
                    <th>@I18N.Status</th>
                    <th>@I18N.VerifiedBy</th>
                    <th>@I18N.VerifiedOn</th>
                    <th>@I18N.Reason</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="ui large advice modal">
    <i class="close icon"></i>
    <iframe></iframe>
</div>

<script src="/Areas/MixERP.Sales/scripts/loyalty/gift-cards/add-fund/index.js"></script>
